<%a = 'Eventssssss'%>

<head>
	<%=javascript_tag do%>
		$(document).ready(function() {

			// page is now ready, initialize the calendar...

			$('#calendar').fullCalendar({
				// put your options and callbacks here
				
    eventSources: [

        // your event source
        {
            events: <%=@result.html_safe%>,
                // an option!
            textColor: 'white' // an option!
        }
        
        
       
        
        

        // any other event sources...

    ]
  

				
				
				
				
				
				
			})

		});
	<%end%>
</head>

<div id='calendar'></div>