<h2>Set brought forward leave period</h2>
Number of months to allow previous year leave to be taken: <br>
<%=form_tag("/admins/setbroughtforward2", :method => "post") do%>
<%=number_field_tag(:num)%><br>
<td><%= submit_tag("Set", :class=>"btn") %></td>
<%end%>
<%if !@success.nil?%>
<%=@success%>
<%end%>
