<form>
Search: <input name="filter" onkeyup="filter2(this, 'sf', 1)" type="text">
</form>

<%if session[:type]=="Master"%>
<table class="table table-bordered">
	<tr>
		<td>Userid</td><td>Time of login</td>
	</tr>
	<%@login_records.each do |l|%>
	<tr>
		<td><%=l.userid%></td>
		<td><%=l.logintime%></td>
	</tr>
	<%end%>
</table>
<%end%>
